{% extends 'base.html' %}

{% block content %}
    <div><h2>Photos board</h2></div>
    <div class="photos">
        {% for ph in all_photos %}
            <div class="row">
                <a class="inline hundred"><h3>{{ ph.title }}</h3></a>
                <img src="{{ph.image.url}}" alt="ph.title">
                <p class="inline" >Like count: {{ph.like_count}}</p>

                {% for t in ph.tags.all %}
                    <p>{{ t.title }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
