{% extends 'base.html' %}

{% block content %}

    <script>
        function sendLike(photo_id) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/like/' + photo_id, false);
            xhr.send();

            if (xhr.status == 200) {
                var counter = document.getElementsByClassName('photo' + photo_id)[0];
                counter.innerHTML = parseInt(counter.innerHTML) + 1;
            }
        }
    </script>

    <div><h2>Доска с фотографиями</h2></div>
    <div>
        <a href="?reset">Сросить выбор тегов</a>
    </div>
    <div class="tags">
        <h3>Выбрать фото с тегом</h3>
        {% for tag in tags %}
            <a href="?include={{ tag.id }}">{{ tag.title }}</a>
        {% endfor %}
    </div>
    <div class="tags">
        <h3>Убрать фото с тегом</h3>
        {% for tag in tags %}
            <a href="?exclude={{ tag.id }}">{{ tag.title }}</a>
        {% endfor %}
    </div>
    <div>
        <h3>Упорядочить</h3>
        <a href="?order_by=like">по лайкам</a>
        <a href="?order_by=date">по дате</a>
    </div>
    <br/>
    <div class="photos">
        {% for ph in all_photos %}
            {% if not forloop.counter|divisibleby:"2" %}
                <div class="row">
            {% endif %}
                <div class="inline photo">
                    <img src="{{ph.image.url}}" alt="{{ ph.title }}">
                    <div>
                        <p class="inline">Like count:</p>
                        <p class="inline photo{{ ph.id }}">{{ ph.like_count }}</p>
                        <a href="javascript:void(0);" onclick="sendLike({{ ph.id }})">Like it +1</a>
                    </div>
                    <div>
                        "{{ph.tags.all|join:'", "'}}"
                    </div>
                </div>
            {% if forloop.counter|divisibleby:"2" %}
                </div>
                <hr>
            {% endif %}

        {% endfor %}
    </div>

    {% include 'photos/pagination.html' %}
{% endblock %}
